    <span>Welcome Back! <a href="login.html" title="User Log In"><u>Log In</u></a> </span><br>
    <span>New User? <a href="signup.html" title="New User Registration"><u>Register Here</u></a> </span>
