<!DOCTYPE html>
<html lang="en">

<head>
  <title>NOVELty :: New Reads For Everyone </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./images/Book_Favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link type="text/css" rel="stylesheet" href="stylesheets/lightslider.css" />                  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  

  <link href="stylesheets/style.css" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="./js/lightslider.js"></script>

</head>


<body class="container-fluid p-0 m-0 h-100">
  <div class="bg-image h-100 w-100 p-0 m-0">
<body>
  <header class="site-header">
    <div class="row"> 
      {{!-- This part of the header will be static --}}
        {{!-- <div class="site-header_logo float-left col-4">
            <a href="/" title="NOVELty Homepage">
            <img class="fixed-ratio-resize" src="./images/NOVELty.gif" alt="NOVELty logo"> 
            </a>
        </div> --}}
        <div class="header-block align-center col">
        {{!-- This will render a dynamic div depending on whether the user has logged in or not --}}
        {{> (whichPartial) }}
        </div>

   </div>
  </header>
  {{{body}}}


          {{!-- This will render a dynamic div depending on whether the user has logged in or not --}}
          {{!-- {{> (whichPartial) }} --}}
    
    {{!-- <div>

      {{{body}}}

    </div> --}}
        


  </div>
</body>

</html>
