<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.101cookbooks.com/DIP-PEACE-LOVE-h.jpg?w=680&auto=format" class="d-block w-100" alt="Plate of food">
      <div class="carousel-caption d-none d-md-block">
        <h5>Book Covers</h5>
        <p>These book covers are so inspiring, like eating a Crème brûlée.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://hardcoversandheroines.files.wordpress.com/2015/07/28-1.jpg" class="d-block w-100" alt="Ratings">
      <div class="carousel-caption d-none d-md-block">
        <h5>Book Ratings</h5>
        <p>Book ratings are of utmost importance.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://singlewhitefemalewriter.files.wordpress.com/2018/04/bookreviews.jpg?w=300&h=222" class="d-block w-100" alt="Handful of books">
      <div class="carousel-caption d-none d-md-block">
        <h5>Book Reviews</h5>
        <p>Book reviews help readers to choose a new book to read.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>