

 <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img class="index-image" src="./images/critics-list.jpg" alt="Critics' book selection">
    </div>
  </div>

  <div class="index-blurb">
  <p>Have a look at our newly added books. 
     As always, expect some of these titles or other delightful recommendations to appear 
     in your profile based on your personal library and preferences.</p> 
 
  <p>Remember to grow your community of readers to receive even more discovery suggestions 
    based on genres, authors and titles you enjoy.</p>
  </div>
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>