
      {{!-- </div> --}}

<div class="position-absolute w-100" style="top: calc(100vh - 100px)">
  <h5 class="text-center m-4">A new dawn for book lovers everywhere.</h5>

{{!-- <h4 class="what-is-it float-right"><a href="somepage">What is NOVELty?</a></h4> --}}
{{!-- </div> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>