@keyframes fade-in {
  from {
    opacity: 0;
    top: -120%;
  }
  to {
    opacity: 1;
    top: 0;
  }

}

form.login, form.signup {
  top: 0;
  position: relative;
  transition: all;
  box-shadow: 0px 10px 40px black;
  border-radius: 3px;
  background-color: #fff;
  animation: fade-in 0.5s linear;
}

form {
  min-width: 250px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-image: url("../images/critics_list1.png");
  background-size: cover;
}

/* .bg-image::after {
  content: "";
  background-image: url("../images/critics-list.jpg");  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
  /* background-size: cover; */
/* } */

.logo {
  position: relative;
  min-width: 200px;
  max-width: 30%;
  border-radius: 50%;
  opacity: 1;
  z-index: 2;
}

.secondary-logo {
  color: black;
  /* font: 52px bold Helvetica, Arial; */
  /* margin: 5px */
}
.secondary-logo > span:nth-child(2) {
  color: #a08804;
}

.btn-primary:hover {
  min-width: 8rem;
  border: 2px solid #D55A5B;
  background-color: #D55A5B;
  color: #fff;
  font-weight: bold;
}

.btn-primary:active {
  background-color: #888 !important;
  border: 2px solid #888;
  outline: none;
}

.login {
  background-color: #fff;
}

.text-primary {
  color: #D55A5B !important;
}

.text-secondary {
  color: black !important;
}

.btn-primary {
  min-width: 8rem;
  border: 2px solid #D55A5B;
  background-color: #fff;
  color: #D55A5B;
  font-weight: bold;
  margin: 1rem;
}

html {
  height: 100%;
  width: 100%;
}

.bg-image {
  /* position: relative;  */
  min-height: 100%;
  overflow-x: hidden;
  background-image: url("../images/critics-list1.png");
  background-size: cover;
}

h5.text-center {
  font-size: 1.75rem;
}

.secondary-logo .ty   {
  color: #a08804;
}

.tag {
  z-index: -100;
}

.jumbotron {
  background-color: #fff;
}

.index-image {
  max-width: 100%;
  height: auto;
  width: auto;
}

.header-block {
  padding-top: 5rem;
  padding-left: 1rem;
  font: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.secondary-header a:hover{
  text-decoration: none;
  color: black !important;
}

.index-blurb {
  padding-left: 3rem;
  text-align: left;
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.hide {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #D55A5B; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.d-block {
  max-width: 50%;
  height: auto;
  width: auto;
}

.dashboard-view {
  padding-left: 70px;
}

li img {
  height: 250px;
  width: 200px;
}


.yellow-star {
  color: #FFD600;
}

.white-star {
  color: #FFD600;
  opacity: 0.4;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.nav-link  {
  color: #D55A5B !important;
  border-bottom: none !important;
}

.nav-link:hover  {
  color: #fff !important;
  border-bottom: none !important;
  background-color: grey;
}

.nav-link.disabled {
  color: grey !important;
}

.nav-link.active {
  color: #fff !important;
  background-color: #D55A5B !important;
  cursor: default;
}

.dashboard-view{
  border-top: 3px solid #D55A5B;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 50px;
  color: #FFD600;
  cursor: pointer
}


.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}
.carousel-item {
  opacity: 80%;
}
.carousel-item img {
  height:250px;
}

.list-group-item {
  cursor: pointer;
}

.card{
  min-height: 25rem;
}
.pointer {
  cursor: pointer;
}

#demo {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.center-slide .lslide {
  background-color: #D55A5B;
  text-align: center;
}

#book-cover img{
  height: 250px;
  width: 200px;
}

.bg-pink {
  background-color: #D55A5B;
}

.carousel-inner img {
  
  height: 250px;
  width: 200px;
} 

.carousel-indicators {
  position: absolute;
  bottom: -0px;
  }

#carousel-image {
  float:right
}

@media only screen and (max-width: 512px) {
  #carousel-image {
   float:none;
  }
  #demo {
    padding-left: 2em;
   }
}
