/* form.signup,
form.login {
  margin-top: 50px;
} */

body {
  background-color: #d45b5b;
}

.fixed-ratio-resize {
  max-width: 65%;
  height: auto;
  width: auto\9;
  opacity: 80%;
}

.jumbotron {
  background-color: #d45b5b;
}

.index-image {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.header-block {
  padding-top: 3rem;
  text-align: center;
  font: bolder;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.index-blurb {
  padding-left: 3rem;
  text-align: left;
  font: bold;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.hide {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}


.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 6vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}