   {{!-- When the landing page is loaded, if user hasn't been authenticated this code should be displayed --}}
   {{!-- The links will need to be tested, the corresponding partials should render when clicked --}}
         
   <div class="col-md-12 m-0">
      {{!-- <div class="col-md-3 secondary-header mx-4">
         <a class="text-decoration-none text-secondary" href="/">
            <h1 class="secondary-logo display-md-3">NOVEL<span>ty</span></h1>
            <h5 class="tag">The personalized book recommendation engine</h5>
         </a>
      </div> --}}

      <header class="row">
         {{!-- This part of the header will be static --}}
         <div class="site-header_logo col-md-12 text-center mt-5 pt-5">
            {{!-- <a href="/" title="NOVELty Homepage mx-auto"> --}}
            <img class="img-fluid logo center-block" src="./images/NOVELty.gif" alt="NOVELty logo"> 
            {{!-- </a> --}}
         </div>
      </header>
      <div class="text-center m-4">
         <a class="btn btn-primary" href="/login" title="User Log In">login</a>
         <a class="btn btn-primary" href="/signup" title="New User Registration">signup</a>
      </div>
    </div>
