<div class="float-right position-absolute" style="top:0; left:0">
    <span><a href="/index" title="community">Home</a> </span><br>
    <span><a href="/logout" title="logout">Logout</a> </span>
</div>

