   {{!-- When the landing page is loaded, if user hasn't been authenticated this code should be displayed --}}
   {{!-- The links will need to be tested, the corresponding partials should render when clicked --}}
    <span>Welcome Back! <a href="{{>login/login-block}}" title="User Log In"><u>Log In</u></a> </span><br>
    <span>New User? <a href="{{>signup/signup-block}}" title="New User Registration"><u>Register Here</u></a> </span>
