<body class="container-fluid p-0 m-0 h-100">
  

    <div class="row">

     <div class="float-right col-md-12 px-4 py-2">
      <span class="float-right"><a href="/index" title="home">Home</a> | <a href="/logout" title="logout">Logout</a> </span>
     </div>
    

      {{!-- This part of the header will be static --}}
        <div class="col-md-3 secondary-header m-3">
            <a class="text-decoration-none text-secondary" href="/index">
              <h1 class="secondary-logo display-md-3">NOVEL<span class = "ty">ty</span></h1>
            </a>
              <h5 class="tag">The personalized book recommendation engine</h5>
            
        </div>
    </div>
      
</body>
