<body class="container-fluid p-0 m-0 h-100">
  

    <div class="row">

     <div class="float-right col-md-12 px-5 py-0">
      <span class="float-right"><a href="/community" title="community">Community</a> | <a href="/logout" title="logout">Logout</a> </span>
     </div>
    

      {{!-- This part of the header will be static --}}

        <div class="col-md-3 secondary-header my-0 mx-4">
        

              <h1 class="secondary-logo display-md-3"><a href="https://apod.nasa.gov/apod" target="_blank" style="color:black">N</a><a class="text-decoration-none text-secondary" href="/index">OVEL<span class="ty">ty</span></h1></a>

              <h5 class="tag">The personalized book recommendation engine</h5>
            </a>
        </div>

        <div class="col-md-5 d-flex justify-content-center pt-md-5">
            <h2 class="text-primary welcome"> Welcome back <span id="name-of-user"></span><span>!</span></h2>
        </div>
    </div>
      
</body>
      
