<body class="container-fluid p-0 m-0 h-100">
  

    <div class="row">

     <div class="float-right col-md-12 px-4 py-2">
      <span class="float-right"><a href="/community" title="community">Community</a> | <a href="/logout" title="logout">Logout</a> </span>
     </div>
    

      {{!-- This part of the header will be static --}}
        <div class="col-md-3 secondary-header m-3">
            <a class="text-decoration-none text-secondary" href="/index">
              <h1 class="secondary-logo display-md-3"><a href="https://apod.nasa.gov/apod" style="color:black">N</a>OVEL<span>ty</span></h1>
              <h5 class="tag">The personalized book recommendation engine</h5>
            </a>
        </div>

        <div class="float-center col-md><h2 class="text-primary"> Welcome back <span id="name-of-user"></span><span>!</span></h2></div>
    </div>
      
</body>
      
